*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    background: linear-gradient(135deg, rgb(101, 201, 235), rgb(41, 41, 197));
    width:50%;
    color:white;
    margin: 20px auto ;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input{
    border:0;
    outline:0;
    background: whitesmoke;
    color: #555;
    padding: 10px 25px;
    height:60px;
    border-radius: 30px;
    font-size: 18px;
    margin-right: 16px;
}

button{
    border:0;
    outline:0;
    background: whitesmoke;
    width:60px;
    height:60px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
}
.details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top:50px;
}

.details img{
    width: 50px;
}

.weather{
    display: none;
}

@media screen and (max-width: 600px) {
    .card {
        width: 100%;
        height: 100vh;
        margin: 0;
        border-radius: 0;
        justify-content: space-around;
    }

    .search input {
        width: 60%;
        font-size: 14px;
    }
}
